<!DOCTYPE html>
<html>
  <head>
    <title>Restaurant</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="flex-content-container">
    <%= render 'layouts/navbar' %>
    	<div class="container">
      	<%= yield %>
      </div>
  </div>
    <div id="footer">
      <div class="container">
        <br />
        <div class="col-12 col-sm-3">
        erik.young@rmit.edu.vn
        <br />
        One Kendall Square
        <br />
        Cambridge MA, 02113
      </div>
    </div>
          
                

  </body>
</html>
